<div>
    {{debug}}
    <header>
        <h1>{{info.name}}</h1>
        <ul>
            <li>
                <span><i class="fa fa-envelope" aria-hidden="true"></i>{{info.email}}</span>
            </li>
            <li>
                <span>  <i class="fa fa-linkedin-square" aria-hidden="true"></i>{{info.linkedin}}</span>
            </li>
            <li>
                <span><i class="fa fa-skype" aria-hidden="true"></i>{{info.skype}}</span>
            </li>
            <li>
                <span><i class="fa fa-mobile-phone" aria-hidden="true"></i>{{info.mobile}}</span>
            </li>
        </ul>
    </header>
</div>
